body {
    background-color: lightcoral;
}

#div_1, #div_2 {
    background-color: beige;
    padding: 10px;
    float: none;
    border-radius: 20px;
}

h1 {
    color:bisque;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
